:root {
  font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: var(--default-font-size);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
br {
  margin-bottom: var(--default-row-spacing);
}

a:link {
  color: var(--default-grey-font-color);
}

a:visited {
  color: var(--default-grey-font-color);
}