.resume {
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20%;
    grid-template-areas:
        "resumeLeftContainer-1 resumeRightContainer-1"
        "resumeLeftContainer-2 resumeRightContainer-2"
        "resumeLeftContainer-3 resumeRightContainer-3"
        "resumeLeftContainer-4 resumeRightContainer-4"
        "resumeLeftContainer-5 resumeRightContainer-5";
    box-shadow: 3px 3px 3px #c9c9c9;
}

.resumeLeftContainer-1 {
    grid-area: resumeLeftContainer-1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--content-margin-from-edge);
}

.resumeRightContainer-1 {
    grid-area: resumeRightContainer-1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}

.resumeLeftContainer-2 {
    grid-area: resumeLeftContainer-2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--resume-grid-gap-size);
}

.resumeRightContainer-2 {
    grid-area: resumeRightContainer-2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--resume-grid-gap-size);
}

.resumeLeftContainer-3 {
    grid-area: resumeLeftContainer-3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}

.resumeRightContainer-3 {
    grid-area: resumeRightContainer-3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}

.resumeLeftContainer-4 {
    grid-area: resumeLeftContainer-4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}

.resumeRightContainer-4 {
    grid-area: resumeRightContainer-4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}

.resumeLeftContainer-5 {
    grid-area: resumeLeftContainer-5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}

.resumeRightContainer-5 {
    grid-area: resumeRightContainer-5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--resume-grid-gap-size);
}