.mainTitle {
    font-size: var(--default-main-title-size);
    color: var(--default-font-color);
}

.secondTitle {
    font-size: var(--default-secondary-title-size);
    color: var(--default-grey-font-color);
    margin-top: 3.7rem;
}

.contactInfoContainer {
    color: var(--default-grey-font-color);
}

.skillsContainer {
    margin-left: var(--content-margin-from-edge);
}

.skillsHeader {
    color: rgb(255, 123, 0);
    font-weight: bolder;
    font-size: var(--default-third-title-size);
}

.developmentHeader {
    font-weight: bolder;
    font-size: var(--default-third-title-size);
}

.developmentContentContainer {
    width: 16rem;
    color: var(--default-grey-font-color);
    margin-bottom: var(--default-section-bottom-margin);
}

.workExperienceHeader {
    color: rgb(255, 123, 0);
    font-weight: bolder;
}