.mainTitle {
    font-size: var(--default-main-title-size);
    color: var(--default-font-color);
}

.secondTitle {
    font-size: var(--default-secondary-title-size);
    color: rgb(99, 99, 99);
    margin-top: 2.8rem;
}

.links {}